{% extends 'template/base.twig' %}

{% block head %}
    <link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item"><a href="{{ path_for('admin') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path_for('servidores') }}">Servidores</a></li>
                <li class="breadcrumb-item active">Horários</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-3 mb-5">
        <form method="post" action="" class="needs-validation" novalidate autocomplete="off">
            <fieldset{{ form == 5 ? ' disabled': '' }}>
                <input type="hidden" name="servidores_id" value="{{ servidor }}">
                <div class="form-group">
                    <label for="semana">Dia da Semana</label>
                    <select class="form-control {{ errors.semana ? 'is-invalid' : ''}}" name="semana" id="semana" required>
                        <option value="8">Todos os dias</option>
                        {% for k, v in data.semana %}
                            {% if not (k in semana)  %}
                                <option value="{{ k }}"{% if (edit.semana == k) or (old.semana == k) %} selected{% endif %}>{{ v }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    {% if errors.semana %}
                        <span class="invalid-feedback">
                            {{ errors.semana | first }}
                        </span>
                    {% endif %}
                </div>
                <fieldset class="mb-3">
                    <legend>Somente um turno?</legend>
                    <div class="custom-control custom-radio">
                        <input type="radio" name="um_turno" value="true" id="turno_1" class="custom-control-input" required> <label for="turno_1" class="custom-control-label"> Sim</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" name="um_turno" value="false" id="turno_0" class="custom-control-input" checked required> <label for="turno_0" class="custom-control-label"> Não</label>
                    </div>
                </fieldset>
                <fieldset class="manha">
                    <legend class="manha-legend">Manhã</legend>
                    <div class="form-group">
                        <label for="entrada_m">Entrada</label>
                        <input type="text" name="entrada_m" value="{{ edit.entrada_m }}{{ old.entrada_m }}" class="time form-control {{ errors.entrada_m ? 'is-invalid' : ''}}" id="entrada_m" placeholder="Entrada" required>
                        {% if errors.entrada_m %}
                            <span class="invalid-feedback">
                                {{ errors.entrada_m | first }}
                            </span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="saida_m">Saída</label>
                        <input type="text" name="saida_m" value="{{ edit.saida_m }}{{ old.saida_m }}" class="time form-control {{ errors.saida_m ? 'is-invalid' : ''}}" id="saida_m" placeholder="Saída" required>
                        {% if errors.saida_m %}
                            <span class="invalid-feedback">
                                {{ errors.saida_m | first }}
                            </span>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="tarde">
                    <legend>Tarde</legend>
                    <div class="form-group">
                        <label for="entrada_t">Entrada</label>
                        <input type="text" name="entrada_t" value="{{ edit.entrada_t }}{{ old.entrada_t }}" class="time form-control {{ errors.entrada_t ? 'is-invalid' : ''}}" id="entrada_t" placeholder="Entrada">
                        {% if errors.entrada_t %}
                            <span class="invalid-feedback">
                                {{ errors.entrada_t | first }}
                            </span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="saida_t">Saída</label>
                        <input type="text" name="saida_t" value="{{ edit.saida_t }}{{ old.saida_t }}" class="time form-control {{ errors.saida_t ? 'is-invalid' : ''}}" id="saida_t" placeholder="Saída">
                        {% if errors.saida_t %}
                            <span class="invalid-feedback">
                                {{ errors.saida_t | first }}
                            </span>
                        {% endif %}
                    </div>
                </fieldset>
                {{ csrf.field | raw }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">
                        <i data-feather="send"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        Salvar
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col">
        <div class="row">
            {% for i in tuplas %}
            <div class="col">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ data.semanaAll[i.semana] }}</h5>
                        </div>
                    </div>
                    <span class="list-group-item list-group-item-action bg-secondary text-light">
                        <div class="d-flex w-100 justify-content-between">
                            <p class="m-0">Manhã</p>
                        </div>
                    </span>
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <small class="m-0 text-muted">Entrada</small>
                        </div>
                        <p class="mb-1">{{ i.entrada_m }}</p>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <small class="m-0 text-muted">Saída</small>
                        </div>
                        <p class="mb-1">{{ i.saida_m }}</p>
                    </div>
                    {% if i.entrada_t %}
                    <span class="list-group-item list-group-item-action bg-secondary text-light">
                        <div class="d-flex w-100 justify-content-between">
                            <p class="m-0">Tarde</p>
                        </div>
                    </span>
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <small class="m-0 text-muted">Entrada</small>
                        </div>
                        <p class="mb-1">{{ i.entrada_t }}</p>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <small class="m-0 text-muted">Saída</small>
                        </div>
                        <p class="mb-1">{{ i.saida_t }}</p>
                    </div>
                    {% endif %}
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="btn-group btn-block" role="group" aria-label="Basic example">
                                <a href="{{ path_for('horarios', {'servidor': servidor}) }}/apagar/{{ i.id }}" class="btn btn-danger btn-sm delete" data-toggle="tooltip" data-placement="bottom" title="Apagar"><i data-feather="trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    <script>
        $('#turno_1').change(function () {
            console.log("Entrada OK!");
            $('.manha-legend').html('Horário corrido');
            $('.tarde').fadeToggle();
            $('#entrada_t').prop('disabled', true);
            $('#saida_t').prop('disabled', true);
        });
        $('#turno_0').change(function () {
            console.log("Saída OK!");
            $('.manha-legend').html('Manhã');
            $('.tarde').fadeToggle();
            $('#entrada_t').attr('disabled', false);
            $('#saida_t').attr('disabled', false);
        });
    </script>
{% endblock %}