{% extends 'template/base.twig' %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/select2-bootstrap.css">
    <link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item"><a href="{{ path_for('admin') }}">Home</a></li>
                <li class="breadcrumb-item active">Frequencias</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-3">
        <form method="post" action="" class="needs-validation" novalidate autocomplete="off">
            <div class="form-group">
                <label for="data_entrega">Data Entrega</label>
                <input type="text" name="data_entrega" value="{{ edit.data_entrega|date('d/m/Y') }}{{ old.data_entrega }}" class="date form-control {{ errors.data_entrega ? 'is-invalid' : ''}}" id="data_entrega" placeholder="Data Entrega" required>
                {% if errors.data_entrega %}
                    <span class="invalid-feedback">
                        {{ errors.data_entrega | first }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="mes">Mês</label>
                <select class="select form-control {{ errors.mes ? 'is-invalid' : ''}}" name="mes" id="mes" required>
                    {% for k, v in data.meses %}
                        <option value="{{ k }}"{% if edit.mes == k %} selected{% endif %}>{{ v }}</option>
                    {% endfor %}
                </select>
                {% if errors.mes %}
                    <span class="invalid-feedback">
                    {{ errors.mes | first }}
                </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="ano">Ano</label>
                <select class="select form-control {{ errors.ano ? 'is-invalid' : ''}}" name="ano" id="ano" required>
                    {% for v in range(2018, 2030) %}
                        <option value="{{ v }}"{% if edit.ano == v %} selected{% endif %}>{{ v }}</option>
                    {% endfor %}
                </select>
                {% if errors.ano %}
                    <span class="invalid-feedback">
                        {{ errors.ano | first }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="servidores_id">Servidor</label>
                <select class="select form-control {{ errors.servidores_id ? 'is-invalid' : ''}}" name="servidores_id" id="servidores_id" required>
                    {% for v in servidores %}
                        <option value="{{ v.id }}"{% if (edit.servidores_id == v.id) or (old.servidores_id == v.id) %} selected{% endif %}>{{ v.nome }}</option>
                    {% endfor %}
                </select>
                {% if errors.servidores_id %}
                    <span class="invalid-feedback">
                            {{ errors.servidores_id | first }}
                        </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="observacoes">Observações</label>
                <textarea class="form-control" name="observacoes" id="observacoes" rows="3">{{ edit.observacoes }}</textarea>
            </div>
            {{ csrf.field | raw }}
            <div class="text-center mt-3">
                {%  if form == true %}
                    <a href="{{ path_for('frequencias') }}" class="btn btn-secondary btn-sm">
                        <i data-feather="x"></i>     &nbsp;
                        Cancelar
                    </a>
                {% endif %}
                <button type="submit" class="btn btn-primary">
                    <i data-feather="send"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    Salvar
                </button>
            </div>
        </form>
    </div>
    <div class="col">
        <form action="{{ path_for('frequencias') }}/buscar/por" method="post">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="submit" id="button-search" class="btn btn-outline-secondary">
                        <span data-feather="search"></span> Buscar
                    </button>
                </div>
                {{ csrf.field | raw }}
                <input type="text" name="search" class="form-control" placeholder="Digite sua busca" aria-describedby="button-search" required>
            </div>
        </form>
        {% if search %}
            <p>
                <small class="text-muted">Valor pesquisado: </small><br>
                <span class="badge badge-pill badge-info pb-1 pl-2">{{ search }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path_for('frequencias') }}/buscar/limpar" title="Limpar pesquisa." class="text-light"><span data-feather="x"></span></a></span>
            </p>
        {% endif %}
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Data da Entrega</th>
                <th>Frequência&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>Mês/Ano</small></th>
                <th>Servidor</th>
                <th>Observações</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            {% for t in tuplas %}
                <tr>
                    <td>{{ "%03d"|format(t.id) }}</td>
                    <td>{{ t.data_entrega|date('d/m/Y') }}</td>
                    <td>{{ t.frequencia|date('m/Y') }}</td>
                    <td>{{ t.servidores.nome }}</td>
                    <td>{{ t.observacoes }}</td>
                    <td>
                        {% if (nivel == 1) or (nivel == 2)%}
                            <div class="btn-group btn-group-sm" role="group" aria-label="Opções">
                                <a href="{{ path_for('frequencias') }}/editar/{{ t.id }}" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Editar registro">
                                    <i data-feather="edit"></i>
                                </a>
                                {% if nivel == 1 %}
                                    <a href="{{ path_for('frequencias') }}/apagar/{{ t.id }}" class="btn btn-danger delete" data-toggle="tooltip" data-placement="bottom" title="Apagar registro">
                                        <i data-feather="trash"></i>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination|raw }}
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function() {
            $.fn.select2.defaults.set( "theme", "bootstrap" );
            $('.select').select2({
                placeholder: 'Select an option'
            });
        });
    </script>
{% endblock %}