<!doctype html>
<html lang="pt-br">
    <head>
        <base href="{{ data.url }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{{ data.title }}</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/login.css" rel="stylesheet">
    </head>
    <body class="text-center">
        <form action="" method="post" class="form-signin" autocomplete="off">
            <div>
                <h1 class="h3 mb-0 font-weight-normal">
                    <img src="/img/login.png" width="50px" alt="{{ data.title }}" class="mb-1"><br>
                    S C F
                </h1>
                <small class="text-muted">{{ data.title }}</small>
                <hr>
            </div>
            {% include 'template/flash.twig' %}
            <div>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="text" name="usuario" id="user" class="form-control" placeholder="Usuário" required autofocus>
            </div>
            <div>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="senha" id="pass" class="form-control pass" placeholder="Senha" required>
            </div>
            <div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    <span data-feather="send"></span>
                    Entrar
                </button>
            </div>
            <div>
                <hr>
                <small class="mt-5 mb-3 text-muted">IFCE/<em>Campus</em> Baturité &copy; 2019</small>
            </div>
            {{ csrf.field | raw }}
        </form>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/feather.min.js"></script>
        <script>
            feather.replace();
        </script>
    </body>
</html>
