{% extends 'template/base.twig' %}

{% block head %}
    <link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block content %}
    <div class="col-12">
        <h4><button type="button" class="btn btn-light btn-sm" title="Adicionar"><span data-feather="plus-square"></span></button> Últimos servidores cadastrados</h4>
        <table class="table table-sm table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">Matricula</th>
                <th scope="col">Nome</th>
                <th scope="col">Cargo</th>
                <th scope="col">Função</th>
                <th scope="col">Lotação</th>
                <th scope="col">Jornada</th>
                <th scope="col">Opções</th>
            </tr>
            </thead>
            <tbody>
            {% for i in servidores %}
                <tr>
                    <td>{{ i.matricula }}</td>
                    <td>{{ i.nome }}</td>
                    <td>{{ i.cargos.descricao }}</td>
                    <td>{{ i.funcoes.descricao }}</td>
                    <td>{{ i.campus.descricao }}</td>
                    <td>{{ i.jornada }} h/s</td>
                    <td>
                        <div class="btn-group tn-group-sm" role="group" aria-label="Basic example">
                            <a href="{{ path_for('servidores') }}/editar/{{ i.id }}" class="btn btn-sm btn-warning" title="Editar"><span data-feather="edit"></span></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
    </div>
    <div class="col">
        <h4><button type="button" class="btn btn-light btn-sm" title="Adicionar"><span data-feather="plus-square"></span></button> Últimas frequências entregues</h4>
        <table class="table table-sm table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Servidor</th>
                <th scope="col">Entregue em</th>
                <th scope="col">Frequência</th>
            </tr>
            </thead>
            <tbody>
            {% for i in frequencias %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.servidores.nome }}</td>
                    <td>{{ i.data_entrega|date('d/m/Y') }}</td>
                    <td>{{ i.frequencia|date('m/Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col">
        <h4>Últimos Log</h4>
        <table class="table table-sm table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Usuário</th>
                <th scope="col">Data/Hora</th>
                <th scope="col">Mensagem</th>
            </tr>
            </thead>
            <tbody>
            {% for i in logs %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.usuarios.usuario }}</td>
                    <td>{{ i.created_at | date("H:i:s d/m/Y") }}</td>
                    <td>{{ i.conteudo }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}