{% extends 'template/base.twig' %}

{% block head %}
    <link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item"><a href="{{ path_for('admin') }}">Home</a></li>
                <li class="breadcrumb-item active">Usuários</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-3">
        <form method="post" action="" class="needs-validation" novalidate autocomplete="off">
            <div class="form-group">
                <label for="usuario">Usuário</label>
                <input type="text" name="usuario" value="{{ edit.usuario }}{{ old.usuario }}" class="form-control {{ errors.usuario ? 'is-invalid' : ''}}" id="usuario" placeholder="Usuário" required>
                {% if errors.usuario %}
                    <span class="invalid-feedback">
                        {{ errors.usuario | first }}
                    </span>
                {% endif %}
            </div>
            {% if form != 1 %}
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" value="{{ old.senha }}" class="form-control {{ errors.senha ? 'is-invalid' : ''}}" id="senha" placeholder="Senha de acesso" required>
                    {% if errors.senha %}
                        <span class="invalid-feedback">
                        {{ errors.senha | first }}
                    </span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="senha_conf">Confirmação de senha</label>
                    <input type="password" name="senha_conf" value="{{ old.senha_conf }}"  class="form-control {{ errors.senha_conf ? 'is-invalid' : ''}}" id="senha_conf" placeholder="Confirmação de senha" required>
                    {% if errors.senha_conf %}
                        <span class="invalid-feedback">
                        {{ errors.senha_conf | first }}
                    </span>
                    {% endif %}
                </div>
            {% endif %}
            <p>Situação do usuário</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="situacao" id="situation_1" value="true" required
                       {% if edit.situacao == 1 %}checked{% endif %}>
                <label class="form-check-label" for="situation_1">Ativo</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="situacao" id="situation_2" value="false" required
                       {% if edit.situacao == 0 %}checked{% endif %}>
                <label class="form-check-label" for="situation_2">Desativado</label>
            </div>
            <div class="form-group mt-3">
                <label for="nivel">Nível de acesso</label>
                <select class="form-control {{ errors.nivel ? 'is-invalid' : ''}}" name="nivel" required>
                    {% for k,v in data.nivel %}
                        <option value="{{ k }}"{% if (edit.nivel == k) or (old.nivel == k) %} selected{% endif %}>{{ v }}</option>
                    {% endfor %}
                </select>
                {% if errors.nivel %}
                    <span class="invalid-feedback">
                        {{ errors.nivel | first }}
                    </span>
                {% endif %}
            </div>
            {{ csrf.field | raw }}
            <div class="text-center mt-3">
                {%  if form == true %}
                    <a href="{{ path_for('usuarios') }}" class="btn btn-secondary btn-sm">
                        <i data-feather="x"></i>     &nbsp;
                        Cancelar
                    </a>
                {% endif %}
                <button type="submit" class="btn btn-primary">
                    <i data-feather="send"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    Salvar
                </button>
            </div>
        </form>
    </div>
    <div class="col">
        <form action="{{ path_for('usuarios') }}/buscar/por" method="post">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="submit" id="button-search" class="btn btn-outline-secondary">
                        <span data-feather="search"></span> Buscar
                    </button>
                </div>
                {{ csrf.field | raw }}
                <input type="text" name="search" class="form-control" placeholder="Digite sua busca" aria-describedby="button-search" required>
            </div>
        </form>
        {% if search %}
            <p>
                <small class="text-muted">Valor pesquisado: </small><br>
                <span class="badge badge-pill badge-info pb-1 pl-2">{{ search }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path_for('usuarios') }}/buscar/limpar" title="Limpar pesquisa." class="text-light"><span data-feather="x"></span></a></span>
            </p>
        {% endif %}
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Usuário</th>
                <th>Nível</th>
                <th>Situação</th>
                <th>Criado em</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            {% for t in tuplas %}
                <tr>
                    <td>{{ "%03d"|format(t.id) }}</td>
                    <td>{{ t.usuario }}</td>
                    <td>{{ data.nivel[t.nivel] }}</td>
                    <td class="{% if t.situacao == 1 %}text-success{% else %}text-danger{% endif %}">{% if t.situacao == 1 %}Ativo{% else %}Inativo{% endif %}</td>
                    <td>{{ t.created_at | date("H:i:s - d/m/Y") }}</td>
                    <td>
                        {% if (nivel == 1) or (nivel == 2)%}
                        <div class="btn-group btn-group-sm" role="group" aria-label="Opções">
                            <a href="{{ path_for('usuarios') }}/senha/{{ t.id }}" class="btn btn-secondary senha" data-toggle="tooltip" data-placement="bottom" title="Mudar senha">
                                <i data-feather="unlock"></i>
                            </a>
                            {% if nivel == 1 %}
                            <a href="{{ path_for('logs', {'usuario': t.id}) }}" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Logs de atividade">
                                <i data-feather="database"></i>
                            </a>
                            {% endif %}
                            <a href="{{ path_for('usuarios') }}/editar/{{ t.id }}" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Editar registro">
                                <i data-feather="edit"></i>
                            </a>
                            {% if nivel == 1 %}
                            <a href="{{ path_for('usuarios') }}/apagar/{{ t.id }}" class="btn btn-danger delete" data-toggle="tooltip" data-placement="bottom" title="Apagar registro">
                                <i data-feather="trash"></i>
                            </a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination|raw }}
    </div>
    <div class="modal fade" id="senha-modal" tabindex="-1" role="dialog" aria-labelledby="modificar-senha" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modificar-senha">Modificar Senha</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" method="post" id="senha-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input type="password" name="senha" class="form-control" id="senha" placeholder="Senha de acesso" required>
                        </div>
                        <div class="form-group">
                            <label for="senha_conf">Confirmação de senha</label>
                            <input type="password" name="senha_conf"  class="form-control" id="senha_conf" placeholder="Confirmação de senha" required>
                        </div>
                    </div>
                    {{ csrf.field | raw }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                            <i data-feather="x"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i data-feather="send"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                            Savar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}