{% extends 'template/base.twig' %}

{% block head %}
    <link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item"><a href="{{ path_for('admin') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path_for('logs', {'usuario': usuario.id}) }}">Logs</a></li>
                <li class="breadcrumb-item active">{{ "%03d"|format(usuario.id) }} - {{ usuario.usuario }}</li>
            </ol>
        </nav>
    </div>
    <div class="col">
        <table class="table table-striped table-hover table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Data</th>
                <th>Mensagem</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            {% for t in tuplas %}
                <tr>
                    <td>{{ "%03d"|format(t.id) }}</td>
                    <td>{{ t.created_at|date("H:i:s - d/m/Y") }}</td>
                    <td>{{ t.conteudo }}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Opções">
                            <a href="{{ path_for('logs', {'usuario': usuario.id}) }}/apagar/{{ t.id }}" class="btn btn-danger delete" data-toggle="tooltip" data-placement="bottom" title="Apagar registro">
                                <i data-feather="trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination|raw }}
    </div>
{% endblock %}