{% extends 'template/base.twig' %}

{% block head %}
    <link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item"><a href="{{ path_for('admin') }}">Home</a></li>
                <li class="breadcrumb-item active">Servidores</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-3">
        <form method="post" action="" class="needs-validation" novalidate autocomplete="off">
            <div class="form-group">
                <label for="matricula">Matricula</label>
                <input type="number" name="matricula" value="{{ edit.matricula }}{{ old.matricula }}" class="form-control {{ errors.matricula ? 'is-invalid' : ''}}" id="matricula" placeholder="Matricula" required>
                {% if errors.matricula %}
                    <span class="invalid-feedback">
                        {{ errors.matricula | first }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" value="{{ edit.nome }}{{ old.nome }}" class="form-control {{ errors.nome ? 'is-invalid' : ''}}" id="nome" placeholder="Nome" required>
                {% if errors.nome %}
                    <span class="invalid-feedback">
                        {{ errors.nome | first }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="campus_id">Campus</label>
                <select class="form-control {{ errors.campus_id ? 'is-invalid' : ''}}" name="campus_id" id="campus_id" required>
                    <option{{ form ? ' ':' selected ' }}disabled>Selecione um Campus</option>
                    {% for v in campus %}
                        <option value="{{ v.id }}"{% if (edit.campus_id == v.id) or (old.campus_id == v.id) %} selected{% endif %}>{{ v.descricao }}</option>
                    {% endfor %}
                </select>
                {% if errors.campus_id %}
                    <span class="invalid-feedback">
                        {{ errors.campus_id | first }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="cargos_id">Cargos</label>
                <select class="form-control {{ errors.cargos_id ? 'is-invalid' : ''}}" name="cargos_id" id="cargos_id" required>
                    <option{{ form ? ' ':' selected ' }}disabled>Selecione um Cargo</option>
                    {% for v in cargos %}
                        <option value="{{ v.id }}"{% if (edit.cargos_id == v.id) or (old.cargos_id == v.id) %} selected{% endif %}>{{ v.descricao }}</option>
                    {% endfor %}
                </select>
                {% if errors.cargos_id %}
                    <span class="invalid-feedback">
                        {{ errors.cargos_id | first }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="funcoes_id">Função</label>
                <select class="form-control {{ errors.funcoes_id ? 'is-invalid' : ''}}" name="funcoes_id" id="funcoes_id" required>
                    <option{{ form ? ' ':' selected ' }}disabled>Selecione um Função</option>
                    {% for v in funcoes %}
                        <option value="{{ v.id }}"{% if (edit.funcoes_id == v.id) or (old.funcoes_id == v.id) %} selected{% endif %}>{{ v.descricao }}</option>
                    {% endfor %}
                </select>
                {% if errors.funcoes_id %}
                    <span class="invalid-feedback">
                        {{ errors.funcoes_id | first }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="jornada">Jornada Semanal</label>
                <input type="number" name="jornada" value="{{ edit.jornada }}{{ old.jornada }}" class="form-control {{ errors.jornada ? 'is-invalid' : ''}}" id="jornada" placeholder="Jornada" required>
                {% if errors.jornada %}
                    <span class="invalid-feedback">
                        {{ errors.jornada | first }}
                    </span>
                {% endif %}
            </div>
            {{ csrf.field | raw }}
            <div class="text-center mt-3">
                {%  if form == true %}
                    <a href="{{ path_for('servidores') }}" class="btn btn-secondary btn-sm">
                        <i data-feather="x"></i>     &nbsp;
                        Cancelar
                    </a>
                {% endif %}
                <button type="submit" class="btn btn-primary">
                    <i data-feather="send"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    Salvar
                </button>
            </div>
        </form>
    </div>
    <div class="col">
        <form action="{{ path_for('servidores') }}/buscar/por" method="post">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="submit" id="button-search" class="btn btn-outline-secondary">
                        <span data-feather="search"></span> Buscar
                    </button>
                </div>
                {{ csrf.field | raw }}
                <input type="text" name="search" class="form-control" placeholder="Digite sua busca" aria-describedby="button-search" required>
            </div>
        </form>
        {% if search %}
            <p>
                <small class="text-muted">Valor pesquisado: </small><br>
                <span class="badge badge-pill badge-info pb-1 pl-2">{{ search }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path_for('servidores') }}/buscar/limpar" title="Limpar pesquisa." class="text-light"><span data-feather="x"></span></a></span>
            </p>
        {% endif %}
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Matricula</th>
                <th>Nome</th>
                <th>Campus</th>
                <th title="Horas semanais">Jornada</th>
                <th>Cargo</th>
                <th>Funções</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            {% for t in tuplas %}
                <tr>
                    <td>{{ t.matricula }}</td>
                    <td>{{ t.nome }}</td>
                    <td>{{ t.campus.descricao }}</td>
                    <td>{{ t.jornada }} h/s</td>
                    <td>{{ t.cargos.descricao }}</td>
                    <td>{{ t.funcoes.descricao }}</td>
                    <td>
                        {% if (nivel == 1) or (nivel == 2)%}
                            <div class="btn-group btn-group-sm" role="group" aria-label="Opções">
                                <a href="{{ path_for('horarios', {'servidor': t.id}) }}" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Horários">
                                    <i data-feather="clock"></i>
                                </a>
                                <a href="{{ path_for('home', {'matricula': t.matricula}) }}" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Imprimir Frequência">
                                    <i data-feather="printer"></i>
                                </a>
                                <a href="{{ path_for('servidores') }}/editar/{{ t.id }}" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Editar registro">
                                    <i data-feather="edit"></i>
                                </a>
                                {% if nivel == 1 %}
                                    <a href="{{ path_for('servidores') }}/apagar/{{ t.id }}" class="btn btn-danger delete" data-toggle="tooltip" data-placement="bottom" title="Apagar registro">
                                        <i data-feather="trash"></i>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination|raw }}
    </div>
{% endblock %}