<!doctype html>
<html lang="pt-br">
    <head>
        <base href="{{ data.url }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ data.title }}</title>
        {% include 'template/head.twig' %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            {% block navbar %}
                {% include 'template/navbar.twig' %}
            {% endblock %}
        </header>
        <div class="container-fluid">
            <div class="row">
                {% block sidebar %}
                    {% include 'template/sidebar.twig' %}
                {% endblock %}
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <div class="container-fluid">
                        <div class="row">
                            {% include 'template/flash.twig' %}
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <footer class="container-fluid">
        {% block footer %}
                {% include 'template/footer.twig' %}
        {% endblock %}
        </footer>
    </body>
</html>