{% if flash.getMessage('info') %}
    <div class="alert alert-info alert-dismissible fade show text-center pb-3" role="alert" style="width: 100%">
        <strong>Atenção! </strong> {{ flash.getMessage('info') | first }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
{% if flash.getMessage('success') %}
    <div class="alert alert-success alert-dismissible fade show text-center pb-3" role="alert" style="width: 100%">
        <strong>Atenção! </strong> {{ flash.getMessage('success') | first }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
{% if flash.getMessage('error') %}
    <div class="alert alert-danger alert-dismissible fade show text-center pb-3" role="alert" style="width: 100%">
        <strong>Atenção! </strong> {{ flash.getMessage('error') | first }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}