<div class="modal fade delete-register" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Aviso
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente apagar esse registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <span data-feather="x"></span> Não
                </button>
                <a href="#" class="btn btn-danger delete-confirm"><span data-feather="check"></span> Sim</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/js/jquery.mask.min.js"></script>
<script src="/js/gijgo.min.js"></script>
<script src="/js/messages.pt-br.js" type="text/javascript"></script>
<script>
    feather.replace();

    $('.delete').on('click', function(event) {
       event.preventDefault();
       $('.delete-register').modal('show');
       $('.delete-confirm').attr('href', $(this).attr('href'));
    });

    $('.senha').on('click', function(event) {
        event.preventDefault();
        $('#senha-modal').modal('show');
        $('#senha-form').attr('action', $(this).attr('href'));
    });

    $('.autorizacao').on('click', function(event) {
        event.preventDefault();
        $('#autorizacao-modal').modal('show');
    });

    var today, config;
    today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    config = {
        locale: 'pt-br',
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        format: 'dd/mm/yyyy'
    };

    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
        $('.time').mask('00:00:00');
        $('.date').mask('00/00/0000');

        $('.date').datepicker(config);
    });
</script>