<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
<link href="/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<style>
    body {
        font-family: 'Dosis', sans-serif;
        margin-top: 20px;
    }
    .font-monospace {
        font-family: 'Share Tech Mono', monospace;;
    }
</style>