<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path_for('admin') }}" title="{{ data.title }}">
        &nbsp;&nbsp;&nbsp;&nbsp;S C F
    </a>
    <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/sair">
                <span data-feather="log-out"></span>
                Sair
            </a>
        </li>
    </ul>
</nav>