<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link{% if page == "home" %} active{% endif %}" href="{{ path_for('admin') }}">
                    <span data-feather="home"></span>
                    Principal
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if page == "funcoes" %} active{% endif %}" href="{{ path_for('funcoes') }}">
                    <span data-feather="file-plus"></span>
                    Funções
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if page == "cargos" %} active{% endif %}" href="{{ path_for('cargos') }}">
                    <span data-feather="inbox"></span>
                    Cargos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if page == "campus" %} active{% endif %}" href="{{ path_for('campus') }}">
                    <span data-feather="sidebar"></span>
                    Campus
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if page == "servidores" %} active{% endif %}" href="{{ path_for('servidores') }}">
                    <span data-feather="users"></span>
                    Servidores
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if page == "feriadosTipos" %} active{% endif %}" href="{{ path_for('feriadosTipos') }}">
                    <span data-feather="calendar"></span>
                    Tipos de Feriados
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if page == "feriados" %} active{% endif %}" href="{{ path_for('feriados') }}">
                    <span data-feather="calendar"></span>
                    Feriados
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if page == "frequencias" %} active{% endif %}" href="{{ path_for('frequencias') }}">
                    <span data-feather="check-square"></span>
                    Frequencias recebidas
                </a>
            </li>
            <li class="nav-item">
                <hr>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if page == "usuarios" %} active{% endif %}" href="{{ path_for('usuarios') }}">
                    <span data-feather="user"></span>
                    Usuarios
                </a>
            </li>
        </ul>
    </div>
</nav>