{% extends 'template/base.twig' %}

{% block head %}
    <link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item"><a href="{{ path_for('admin') }}">Home</a></li>
                <li class="breadcrumb-item active">Tipos de Feriados</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-3">
        <form method="post" action="" class="needs-validation" novalidate autocomplete="off">
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input type="text" name="descricao" value="{{ edit.descricao }}{{ old.descricao }}" class="form-control {{ errors.descricao ? 'is-invalid' : ''}}" id="descricao" placeholder="Descrição" required>
                {% if errors.descricao %}
                    <span class="invalid-feedback">
                        {{ errors.descricao | first }}
                    </span>
                {% endif %}
            </div>
            {{ csrf.field | raw }}
            <div class="text-center mt-3">
                {%  if form == true %}
                    <a href="{{ path_for('feriadosTipos') }}" class="btn btn-secondary btn-sm">
                        <i data-feather="x"></i>     &nbsp;
                        Cancelar
                    </a>
                {% endif %}
                <button type="submit" class="btn btn-primary">
                    <i data-feather="send"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    Salvar
                </button>
            </div>
        </form>
    </div>
    <div class="col">
        <form action="{{ path_for('feriadosTipos') }}/buscar/por" method="post">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="submit" id="button-search" class="btn btn-outline-secondary">
                        <span data-feather="search"></span> Buscar
                    </button>
                </div>
                {{ csrf.field | raw }}
                <input type="text" name="search" class="form-control" placeholder="Digite sua busca" aria-describedby="button-search" required>
            </div>
        </form>
        {% if search %}
            <p>
                <small class="text-muted">Valor pesquisado: </small><br>
                <span class="badge badge-pill badge-info pb-1 pl-2">{{ search }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path_for('feriadosTipos') }}/buscar/limpar" title="Limpar pesquisa." class="text-light"><span data-feather="x"></span></a></span>
            </p>
        {% endif %}
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Descrição</th>
                <th>Referência</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            {% for t in tuplas %}
                <tr>
                    <td>{{ "%03d"|format(t.id) }}</td>
                    <td>{{ t.descricao }}</td>
                    <td>{{ t.referencia }}</td>
                    <td>
                        {% if (nivel == 1) or (nivel == 2)%}
                            <div class="btn-group btn-group-sm" role="group" aria-label="Opções">
                                <a href="{{ path_for('feriadosTipos') }}/editar/{{ t.id }}" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Editar registro">
                                    <i data-feather="edit"></i>
                                </a>
                                {% if nivel == 1 %}
                                    <a href="{{ path_for('feriadosTipos') }}/apagar/{{ t.id }}" class="btn btn-danger delete" data-toggle="tooltip" data-placement="bottom" title="Apagar registro">
                                        <i data-feather="trash"></i>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination|raw }}
    </div>
{% endblock %}