<head>
    <base href="{{ app_url }}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Frequencias</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        .page {
            width: 21cm;
            min-height: 29.7cm;
            margin: 0 auto;
        }
        @page {
            width: 21cm;
            height: 29.7cm;
            margin: .8cm 1cm 1cm 1cm;
        }
        body {
            font-family: 'Share Tech Mono', monospace;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        tr, td {
            border: 0.006cm solid;
            padding: 2px;
        }
        .header {
            text-align: center;
            padding: 10px;
        }
        .header h3 {
            font-size: 16pt;
            margin-bottom: 8px;
        }
        .header h5 {
            font-size: 15px;
        }
        .title-cols {
            font-weight: bold;
            font-size: 8pt;
        }
        .title-cols-2 {
            font-weight: bold;
            font-size: 8pt;
            display: block;
        }
        .horarios {
            font-size: 8pt;
        }
        .content-table {
            font-size: 8pt;
            text-align: center;
        }
        .display-block {
            display: block;
        }
    </style>
</head>
<body>
<div class="page">
    <div><img src="/img/logo.jpg" alt="IFCE" height="60px"></div>
    <div class="header">
        <h3>CONTROLE DE FREQUÊNCIA - {{ data.meses[mes]|upper }}/{{ ano }}</h3>
        <h4>CAMPUS {{ servidor.campus.descricao|upper }}</h4>
    </div>
    <table>
        <tr style="border: 0">
            <td colspan="8" style="border: 0" width="80%"><span class="title-cols">SERVIDOR:</span> {{ servidor.nome|upper }}</td>
            <td colspan="2" style="border: 0" width="20%"><span class="title-cols">MATRICULA:</span> {{ servidor.matricula }}</td>
        </tr>
        <tr style="border: 0">
            <td colspan="5" style="border: 0"><span class="title-cols">CARGO:</span> {{ servidor.cargos.descricao|upper }}</td>
            <td colspan="5" style="border: 0"><span class="title-cols">FUNÇÃO:</span> {{ servidor.funcoes.descricao|upper }}</td>
        </tr>
        <tr style="border: 0">
            <td colspan="5" style="border: 0"><span class="title-cols">LOTAÇÃO:</span> CAMPUS {{ servidor.campus.descricao|upper }}</td>
            <td colspan="5" style="border: 0"><span class="title-cols">JORNADA:</span> {{ servidor.jornada }} h/s</td>
        </tr>
        <tr>
            {% for h in horarios %}
                <td colspan="2" class="horarios"><span class="title-cols">{{ data.semanaAll[h.semana] }}:</span><br> {{ h.entrada_m|date("H:i") }}-{{ h.saida_m|date("H:i") }}{% if h.um_turno == 0 %}/{{ h.entrada_t|date("H:i") }}-{{ h.saida_t|date("H:i") }}{% endif %}</td>
            {% endfor %}
        </tr>
    </table>
    <br>
    <table>
        <tr style="text-align: center">
            <td colspan="4" style="text-align: center"><span class="title-cols">1º TURNO</span></td>
            <td colspan="1" rowspan="2" style="text-align: center; padding-top: 10px"><span class="title-cols">DIAS</span></td>
            <td colspan="4" style="text-align: center"><span class="title-cols">2º TURNO</span></td>
            <td colspan="1" rowspan="2" style="text-align: center"><span class="title-cols-2">BANCO DE HORAS</span></td>
        </tr>
        <tr style="text-align: center">
            <td style="text-align: center"><span class="title-cols-2">ENTRADA</span></td>
            <td style="text-align: center"><span class="title-cols-2">RUBRICA</span></td>
            <td style="text-align: center"><span class="title-cols-2">SAÍDA</span></td>
            <td style="text-align: center"><span class="title-cols-2">RUBRICA</span></td>
            <td style="text-align: center"><span class="title-cols-2">ENTRADA</span></td>
            <td style="text-align: center"><span class="title-cols-2">RUBRICA</span></td>
            <td style="text-align: center"><span class="title-cols-2">SAÍDA</span></td>
            <td style="text-align: center"><span class="title-cols-2">RUBRICA</span></td>
        </tr>
        {% for dia in frequencia %}
            <tr>
                <td colspan="1" width="9%" class="content-table">
                    {%  if dia.feriado %}
                        {{ dia.feriadoTipo|upper }}
                    {% elseif dia.diaSemana == 0 %}
                        DOMINGO
                    {% elseif dia.diaSemana == 6 %}
                        SÁBADO
                    {% endif %}
                </td>
                <td colspan="1" width="12%" class="content-table">
                    {%  if dia.feriado %}
                        {{ dia.feriadoTipo|upper }}
                    {% elseif dia.diaSemana == 0 %}
                        DOMINGO
                    {% elseif dia.diaSemana == 6 %}
                        SÁBADO
                    {% endif %}
                </td>
                <td colspan="1" width="9%" class="content-table">
                    {%  if dia.feriado %}
                        {{ dia.feriadoTipo|upper }}
                    {% elseif dia.diaSemana == 0 %}
                        DOMINGO
                    {% elseif dia.diaSemana == 6 %}
                        SÁBADO
                    {% endif %}
                </td>
                <td colspan="1" width="12%" class="content-table">
                    {%  if dia.feriado %}
                        {{ dia.feriadoTipo|upper }}
                    {% elseif dia.diaSemana == 0 %}
                        DOMINGO
                    {% elseif dia.diaSemana == 6 %}
                        SÁBADO
                    {% else %}
                        <p style="font-size: 11pt">&nbsp;</p>
                    {% endif %}
                </td>
                <td colspan="1" width="6%" style="text-align: center; font-size: 8pt">{{ "%02d"|format(dia.dia) }}|{{ data.semana[dia.diaSemana] }}</td>
                <td colspan="1" width="9%" class="content-table">
                    {%  if dia.feriado %}
                        {{ dia.feriadoTipo|upper }}
                    {% elseif dia.diaSemana == 0 %}
                        DOMINGO
                    {% elseif dia.diaSemana == 6 %}
                        SÁBADO
                    {% endif %}
                </td>
                <td colspan="1" width="12%" class="content-table">
                    {%  if dia.feriado %}
                        {{ dia.feriadoTipo|upper }}
                    {% elseif dia.diaSemana == 0 %}
                        DOMINGO
                    {% elseif dia.diaSemana == 6 %}
                        SÁBADO
                    {% endif %}
                </td>
                <td colspan="1" width="9%" class="content-table">
                    {%  if dia.feriado %}
                        {{ dia.feriadoTipo|upper }}
                    {% elseif dia.diaSemana == 0 %}
                        DOMINGO
                    {% elseif dia.diaSemana == 6 %}
                        SÁBADO
                    {% endif %}
                </td>
                <td colspan="1" width="12%" class="content-table">
                    {%  if dia.feriado %}
                        {{ dia.feriadoTipo|upper }}
                    {% elseif dia.diaSemana == 0 %}
                        DOMINGO
                    {% elseif dia.diaSemana == 6 %}
                        SÁBADO
                    {% endif %}
                </td>
                <td colspan="1" width="9%" class="content-table">
                    {%  if dia.feriado %}
                        {{ dia.feriadoTipo|upper }}
                    {% elseif dia.diaSemana == 0 %}
                        DOMINGO
                    {% elseif dia.diaSemana == 6 %}
                        SÁBADO
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="9" style="text-align: right"><span class="title-cols">TOTAL</span></td>
            <td colspan="1"></td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td width="40%"><span class="title-cols display-block">HORAS A COMPENSAR</span><div>&nbsp;</div></td>
            <td width="60%"><span class="title-cols display-block">VISTO CHEFIA IMEDIATA</span><div>&nbsp;</div></td>
        </tr>
        <tr>
            <td><span class="title-cols display-block">HORAS A DESCONTAR</span><div>&nbsp;</div></td>
            <td><span class="title-cols display-block">VISTO CHEFIA IMEDIATA</span><div>&nbsp;</div></td>
        </tr>
    </table>
</div>
<div class="page">
    <div><img src="/img/logo.jpg" alt="IFCE" height="60px"></div>
    <h3 style="text-align: center">OCORRÊNCIAS</h3><br>
    <table>
        <tr>
            <td width="10%">DIA</td>
            <td width="90%">DESCRIÇÃO</td>
        </tr>
        {% for n in range(0,39) %}
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>