<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ data.title }}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
        <style>
            body {
                font-family: 'Dosis', sans-serif;
                margin-top: 70px;
            }
            .font-monospace {
                font-family: 'Share Tech Mono', monospace;;
            }
            footer {
                position: fixed;
                height: 80px;
                bottom: 0;
                width: 100%;
                background-color: #eee;
                border-top: 1px #ddd solid;
                padding-top: 2rem;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Frequências</h4>
                        </div>
                        <div class="card-body">
                            <form action="" method="post" novalidate autocomplete="off">
                                {{ csrf.field | raw }}
                                <div class="form-row">
                                    <div class="col">
                                        <input type="number" name="matricula" value="{{ matricula }}" class="form-control" placeholder="Matricula" required>
                                    </div>
                                    <div class="col">
                                        <select name="mes" class="select form-control" id="mes" required>
                                            <option selected disabled>Mês</option>
                                            {% for k, v in data.meses %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select name="ano" class="form-control" id="ano" required>
                                            <option selected disabled>Ano</option>
                                            {% for i in range(2018, 2030) %}
                                            <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-secondary btn-block"><span data-feather="search"></span> Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% if servidor %}
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th width="10%">Mês</th>
                                        <th width="10%">Ano</th>
                                        <th width="70%">Servidor(a)</th>
                                        <th width="10%">Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ data.meses[mes] }}</td>
                                        <td>{{ ano }}</td>
                                        <td>{{ servidor.nome }}</td>
                                        <td>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <a href="{{ path_for('print', {'mes': mes, 'ano': ano, 'matricula': servidor.matricula}) }}" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Baixar PDF" target="_blank"><i data-feather="download"></i></a>
                                                <button type="button" class="btn btn-secondary" data-tooltip="tooltip" data-placement="bottom" title="Frequências entregues" data-toggle="modal" data-target="#frequencias"><i data-feather="folder"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- Modal -->
                            <div class="modal fade" id="frequencias" tabindex="-1" role="dialog" aria-labelledby="Frequências Entregues" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">FREQUÊNCIAS ENTREGUES</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <table class="table table-sm">
                                            <tr>
                                                <td><small>SERVIDOR:</small> {{ servidor.nome|upper }}</td>
                                                <td><small>MATRICULA:</small> {{ servidor.matricula }}</td>
                                            </tr>
                                            <tr>
                                                <td><small>CARGO:</small> {{ servidor.cargos.descricao|upper }}</td>
                                                <td><small>FUNÇÃO:</small> {{ servidor.funcoes.descricao|upper }}</td>
                                            </tr>
                                            <tr>
                                                <td><small>LOTAÇÃO:</small> <em>CAMPUS</em> {{ servidor.campus.descricao|upper }}</td>
                                                <td><small>JORNADA:</small> {{ servidor.jornada }}h/s</td>
                                            </tr>
                                        </table>
                                        <table class="table table-striped table-sm table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="20%">Data da entrega</th>
                                                    <th width="10%">Mês</th>
                                                    <th width="10%">Ano</th>
                                                    <th width="60%">Observações</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in frequencias %}
                                                <tr>
                                                    <td>{{ i.data_entrega|date('d/m/Y') }}</td>
                                                    <td>{{ data.meses[i.frequencia|date('m')|number_format] }}</td>
                                                    <td>{{ i.frequencia|date('Y') }}</td>
                                                    <td>{{ i.observacoes ? i.observacoes: 'Sem observações.' }}</td>
                                                </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td colspan="4">
                                                        <small>Os dados são referentes as últimas 12 frequências entregues (<em>Registradas no sistema</em>).</small>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i data-feather="x"></i>Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <footer class="container-fluid pt-3">
            <div class="row">
                <div class="col-6 offset-md-3">
                    <div class="row">
                        <div class="col-8">
                            <p>
                                &copy; S C F - Sistema de Controle de Frequências<br>
                                <small>Desenvolvido por <a href="#">IFCE / Campus Baturité / CTI</a></small>
                            </p>
                        </div>
                        <div class="col-4">
                            <p>Acessar <a href="{{ path_for('auth.signin') }}">Área Administrativa</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/feather.min.js"></script>
        <script>
            feather.replace();
            $(function () {
                $('[data-tooltip="tooltip"]').tooltip()
            });
        </script>
    </body>
</html>